@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Delicious+Handrawn&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cherry Bomb One","Delicious Handrawn";
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    color: aliceblue;
    padding: 10px;
    background: linear-gradient(to right, #feda8c,#ffe3a7, #fff0d1);
}

nav a {
    float: left;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    color: #4b2e1e;
    transition: 0.8s;
    border-right: 1px solid rgba(0,0,0,0.2);
}

i {
    margin-right: 8px;
}

nav a .home {
    border-left: 1px solid rgba(0,0,0,0.2);
}

.logo img {
    height: 80px;
}

nav a:hover {
    background-color: rgb(232, 195, 140);
}

section.home {
    background: url("background.png") center/cover no-repeat fixed;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

section.home div {
    text-align: center;
    color: rgb(93, 63, 39);
    margin: auto;
    justify-content: center;
    width: 70%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
}

.home-text{
  position: relative;
  width: fit-content;
  height: 80px; 
  font-size: 60px;
  font-weight: bold;
  color: #4b2e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.greeting-text {
    position: absolute;
    opacity: 0;
    animation: fadeText 9s infinite;
  }
  
  .greeting-text:nth-child(1) {
    animation-delay: 0s;
  }
  .greeting-text:nth-child(2) {
    animation-delay: 3s;
  }
  .greeting-text:nth-child(3) {
    animation-delay: 6s;
  }
  
  @keyframes fadeText {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
  }

section.about {
    background: url("background about 2.png") center/cover no-repeat fixed;
    min-height: 600px;
    padding: 100px 30px 50px 30px;
    background-color: burlywood;
    height: 750px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(93, 63, 39);
}

section.about p{
    font-size: 20px;
}

section.about h2{
    font-size: 35px;
}

section.about div {
    width: 70%;
}

section.about img {
    height: 200px;
    margin-bottom: 20px;
    animation: slide 3s ease-in-out infinite;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }

}

.product .breadbg1{
    background: url("image/background\ product.png") center/cover no-repeat fixed;
    min-height: 750px;
    padding: 100px 30px 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 125px;
}
section.product .breadbg1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bread1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
  }
  
.bread1 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
}


.bread2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
  }
  
.bread2 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
  }

.bread3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
}
  
.bread3 button{
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
}

.product .breadbg2{
    background: url("background about.png") center/cover no-repeat fixed;
    min-height: 750px;
    padding: 100px 30px 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 125px;
    gap: 20px;
}

.bread4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
  }
  
.bread4 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
}

.bread5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("image/SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
  }
  
.bread5 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
}

.bread6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: url("SOFT BROWN WALLPAPER.jpg");
    box-shadow: 0 0 5px black;
    margin: 15px auto 0 auto;
    text-align: justify;
    overflow: hidden;
  }
  
.bread6 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto;
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
}

 .workshop{
    background: url("image/background\ workshop.png") center/cover no-repeat fixed;
    min-height: 750px;
    padding: 100px 30px 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 125px;
}
 .workshop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.package1{
    position: relative;
    width: 300px;
    height: 520px;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    text-align: center;
    background: url("SOFT BROWN WALLPAPER.jpg");
    text-align: justify;
    padding: 16px;
    line-height: 1.5;
    margin: 15px auto 0 auto; 
}

.package1 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto; 
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
  }

.package2{
    position: relative;
    width: 300px;
    height: 520px;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    text-align: center;
    background: url("SOFT BROWN WALLPAPER.jpg");
    text-align: justify;
    padding: 16px;
    line-height: 1.5;
    margin: 15px auto 0 auto; 
}

.package2 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto; 
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
  }

.package3{
    position: relative;
    width: 300px;
    height: 520px;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    text-align: center;
    background: url("SOFT BROWN WALLPAPER.jpg");
    text-align: justify;
    padding: 16px;
    line-height: 1.5;
    margin: 15px auto 0 auto; 
}

.package3 button {
    display: block;
    width: fit-content;
    margin: 15px auto 0 auto; 
    background-color: wheat;
    color: rgb(93, 63, 39);
    padding: 5px 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px black;
    border-radius: 25px;
    text-align: center;
  }

.workshop h2{
    font-size: 20px;
    color: rgb(93, 63, 39);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.breadbg1 h2{
    font-size: 20px;
    color: rgb(93, 63, 39);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.breadbg2 h2{
    font-size: 20px;
    color: rgb(93, 63, 39);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    width: 100%;
}

h3{
    font-size: 17px;
    color: rgb(93, 63, 39);
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

p{
    font-size: 15px;
    color: rgb(93, 63, 39);
}

.product img{
    height: 200px;
    padding-top: 30px;
    display: block; 
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.product a:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    top: -2px;
    background-color: rgb(187, 158, 103);
    color: rgb(255, 255, 255);
}

.bread1 button:active {
    animation: 0.2s;
  }
  
.bread1:has(button:active) {
    animation: goyang 0.3s;
  }

  .bread2 button:active {
    animation: 0.2s;
  }
  
.bread2:has(button:active) {
    animation: goyang 0.3s;
  }
  .bread3 button:active {
    animation: 0.2s;
  }
  
.bread3:has(button:active) {
    animation: goyang 0.3s;
  }

  .bread4 button:active {
    animation: 0.2s;
  }
.bread4:has(button:active) {
    animation: goyang 0.3s;
  }

  .bread5 button:active {
    animation: 0.2s;
  }
.bread5:has(button:active) {
    animation: goyang 0.3s;
  }

  .bread6 button:active {
    animation: 0.2s;
  }
.bread6:has(button:active) {
    animation: goyang 0.3s;
  }

.package1 button:active {
    animation: 0.2s;
  }
  
.package1:has(button:active) {
    animation: goyang 0.3s;
  }

.package2 button:active {
    animation: 0.2s;
  }
  
.package2:has(button:active) {
    animation: goyang 0.3s;
  }

.package3 button:active {
    animation: 0.2s;
  }
  
.package3:has(button:active) {
    animation: goyang 0.3s;
  }
section.contact {
    background: url("background contact fix.png") center/cover no-repeat fixed;
    text-align: center;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;  
    align-items: center;       
    position: relative;
    z-index: 1;
    padding: 0;
}

@keyframes goyang {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.card{
    color: #ffffff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    animation: goyang 1s infinite;
}

.card img{
    height: 80px;
    margin-bottom: 40px;
    padding: 4px;
}


footer {
    background: linear-gradient(to right, #feda8c,#ffe3a7, #fff0d1);
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
}

footer .mediasocial {
    display: flex;
    gap: 20px;
}

footer a:hover{
    color: rgb(78, 58, 45);
    font-size: 25px;
    transition: 0.3s ease-in-out;
}

section {
    min-height: 100vh;
}